<ul class="list-inline">
  <li class="link-href"><%= link_to link.name, link.href %></li>
  <% if admin? %>
    <li class="link-delete-container">
      <%= link_to(link, method: :delete) do %>
        <i class="glyphicon glyphicon-trash link-delete-icon" title="Delete Link"></i>
      <% end %>
    </li>
  <% end %>
</ul>
