<div id="company-messages-list">
  <h3 class="close-friends-title link"><i class="glyphicon glyphicon-envelope"></i> Company Messages</h3>
  <ul class="list-group company-messages-container">
    <% company_messages.each do |company_message| %>
      <div class="list-group-item message-container">
        <h3 class="compant-message-title"> <%= company_message.title %></h3>
        <div class="compant-message-content">
          <%= company_message.content %>
        </div>
      </div>     
    <% end %>
  </ul>
</div>