<div class="container" id="posts">
  <%= button_to("create new post", new_post_path, class: 'btn btn-primary', method: :get) %>
  <br/>
    <p>
      <%= render @posts %>
    </p>
</div>
<%= will_paginate @posts %>

<%= will_paginate @posts %>
