<div class="posts-container">
  <div class="container-fluid posts-main-page">
    <div class="row">
      <div class="col-sm-3 messages-container">
          <%= render template: 'company_messages/index' %>
          
      </div>
      <div class="col-sm-6" id="posts">
        <%= render @posts %>
      </div>
      <div class="col-sm-3">
        <%= render template: 'links/index' %>
      </div>
    </div>
  </div>
</div>
<%= will_paginate @posts %>
