// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: rgb(230, 230, 220);
}

.navbar-default {
  background-color: rgb(10, 116, 221);
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-header {
  padding-right: 15px;
  padding-top: 5px;
}

.rounded {
  object-fit: cover;
  border-radius: 50%;
}

.thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  min-width: 40%;
  border-radius: 5px;
}

.thumbnail-description {
  min-height: 40px;
  overflow-wrap: anywhere;
  margin-bottom: 15px;
}

.thumbnail:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

#post-header-list > li:last-child
{
  float:right;
}
.post-timestamp {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}

.btn-secondary {
  stroke: 4px solid black;
}

#post-new-comment > form
{
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-card {
  border-radius: 10% 30% 50% 30%;
  display: grid;
  justify-content: center;
}

.expolre-user-icon {
  font-size: 30px;
  color: black;
}

.container-navbar-right {
  display: flex;    
  flex-direction: row-reverse;
}

.close-friends-title {
  color: rgb(93, 93, 93);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.close-friend-card {
  border-radius: 10%;
  display: grid;
  justify-content: left;
  background-color: rgba(176, 230, 176, 0.2);
}

.links-container {
  display: flex;
  justify-content: center;
  background-color: rgba(71, 143, 60, 0.2);
  border-radius: 10%;
  width: 350px;
  left: 20px;
}

.link-href{
  font-size: 18px;
  margin-bottom: 15px;
}

.useful-links-title {
  color: rgb(93, 93, 93);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.company-messages-title{
  color: rgb(93, 93, 93);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.new-link-icon { 
  font-size: 25px;
  display: block;
}

.link-delete-container {
  float: right;
}

.link-delete-icon{
  color: black;
}

.new-company-messages-icon {
  color: black;
  font-size: 20px;
}

.new-company-messages-icon-container {
  float: right;
  margin-top: 25px;
}

.messages-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.posts-main-page {
  width: 100%;
}

#company-messages-list {
  background-color: rgba(49, 51, 48, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.company-messages-container{
  width: 80%;
  display: contents;
}


.post-menu > li > ul > li > a {
  color: black;  
}