// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: rgb(230, 230, 220);
}

.navbar-default {
  background-color: rgb(10, 116, 221);
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-header {
  padding-right: 15px;
  padding-top: 5px;
}

.rounded {
  object-fit: cover;
  border-radius: 50%;
}

.thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  min-width: 40%;
  border-radius: 5px;
}

.thumbnail-description {
  min-height: 40px;
  overflow-wrap: anywhere;
  margin-bottom: 15px;
}

.thumbnail:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

#post-header-list > li:last-child
{
  float:right;
}
.post-timestamp {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}