<div id="user-close-friends">
  <h3 class="close-friends-title"><i class="glyphicon glyphicon-bookmark"></i> Close Friends</h3>
  <ul class="list-group">
    <% users.each do |user| %>
      <li class="list-group-item"><%= render 'user_team_member', user: %></li>
    <% end %>
  </ul>
</div>