<div id=<%="user-close-friend-#{user.id}"%>>
  <%= link_to "mailto:#{user.email}" do %>
    <ul class="list-inline">
      <li><%= image_tag(user.profile_pictures.first.variant(resize: "25x25"), class: 'rounded') if user.profile_pictures.attached? %> </li>
      <li class="text-black"><%= "#{user.first_name} #{user.last_name}"&.titleize %></li>       
    </ul>
  <% end %>
</div>
