<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <%= render user %>
    </div>
    <div class="col-sm-6">
      <%= render user.posts %>
    </div>
    <div class="col-sm-2">
        <%= render 'close_friends', users: user.close_friends %>
    </div>
  </div>
</div>