<p style="color: green"><%= notice %></p>
<div class="container">
  <% @users.in_batches(of: 5) do |group| %>
    <div class="row">
      <% group.each do |user| %>
          <div class="col-md-3">
              <%= render 'user_card', user: %>
          </div>
      <% end %>
    </div>
  <% end %> 
</div>   